<!--display.html-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> Display </title>
</head>

<body>

    <h1>This is Display Page</h1>
    
    <a href="/home">
        <button>Home</button>
    </a>

    <a href="/edit">
        <button>Edit</button>
    </a>

    <a href="/save">
        <button>Save</button>
    </a>

    <table border="1">
        <thead>
            <tr>
                <th>Hardware</th>
                <th>Rack</th>
                <th>Unit</th>
                
            </tr>
        </thead>
        <tbody>
            {% for row in rows%}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    



</body>
</html>